* {
    color: black;
    text-align: center;
  }
  
  table, th, td {
    border: 1px solid rgb(108, 168, 224);
    padding: 10px;
    border-collapse: collapse;
  
  }
  
  td {
    color: black;
    background-color: transparent;
  }
  
  th {
    background-color: rgb(172, 230, 119);
    border: 1px solid white;
    color: black
  }
  
  p {
    color: white;
  }
  
  a {
    color: white;
  }
  
  input {
    background-color: white;
    text-align: left;
    border-collapse: collapse;
  }
  
  .button {
    background-color: white;
    text-align: center;
    border-collapse: collapse;
  }
  
  .button:active {
    background-color: green;
    transform: translateY(6px); 
  }
  
  .button:hover {
    background-color: #f8fcfa  ;
    transform: translateY(4px);
  }
  
  .t1 {
    text-align: right;
  }
  
  div.centraTabla{
    margin-top: 2%;
    text-align: center;
    }
    
  div.centraTabla table {
    margin: 0 auto;
    text-align: left;
  }
  .fechas {
    text-align: center;
    margin: 0 auto;
    padding: 0 auto;
    text-align: left;
    padding-top: 10px;
    background-color: white;
  }