<body class="fondo">
	<br><br>
	<h4>Ubicación geográfica de los datos del Dispositivo 2:</h4>
	<br>
	<form (ngSubmit)="onSubmit()" #heroForm="ngForm" class="form horizontal" >
		<div class="panel-info">
			<div class="panel-body">
				<div class="form-group">
					<label for="fecha" class="col-lg-2 control-label ml-3">Fechas disponibles...
						<div class="col-lg-15">
							<select           
								type="text"
								class="form-control"
								id="fecha"
								required
								[(ngModel)]="seleccionado"
								name="fecha"
								#pais="ngModel"
							>
								<option 
									*ngFor="let fecha of fD" 
									[value]="fecha">{{fecha}}
								</option>
							</select>
						</div>
					</label>

					<label for="cont" class="col-lg-2 control-label ml-3">Contaminante
						<div class="col-lg-15">
							<select           
								type="text"
								class="form-control"
								id="cont"
								required
								[(ngModel)]="selectCont"
								name="cont"
								#pais="ngModel"
							>
								<option 
									*ngFor="let valor of contaminantes" 
									[value]="valor">{{valor}}
								</option>
							</select>
						</div>
					</label>
					<button
						type="submit"
						class="btn btn-success"
						[disabled]="!heroForm.form.valid"
					>Cargar...
					</button>
				</div>
			</div>
		</div>
	</form>
</body>