
table, td, tr {
  text-align: left;
}

.thu {
  border: 10px solid rgb(200, 200, 200);
  background-color: rgb(200, 200, 200);
  border-radius: 10px;
  padding: 10%;
}

table {
  height: 50%;
  width: 100%;
}

td {
  padding-left: 1%;
  padding: 0.25%;
  width: 50%;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

a {
  color: rgb(40, 175, 112);
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover{
  background-color: red;
}
html, body { height: 95%; }
body {
  text-align: left;
  margin: 5em;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-size: 50%;
  background-repeat: repeat;
}
