<!DOCTYPE html>
<html>

<body class="fondo">
  <h3><p><b>Introducción:</b></p></h3>
	<h5><p>Aplicación diseñada en el curso 2020/21 por los alumnos del IES Punta del Verde 
    y del Proyecto Erasmus: Elena Gómez Pichardo y Juan Francisco González Domínguez. 
    Fue el Proyecto Final de sus estudios del ciclo de Formación Profesional. 
    Siendo el profesor tutor Jesús Hernández Sánchez. Es parte también de los resultados del Proyecto Erasmus: 
    <a href="https://twinspace.etwinning.net/94367/pages/page/691104">Erasmus+ Project: 2019-1-ES01-KA202-063878</a>
  </p>
  <p>Nos permite ver los datos de tres dispositivos portables que miden el valor de distintos contaminantes atmosféricos.
	Los dispositivos 1 y 2 han sido diseñados, fabricados y programados por alumnos del IES Punta del Verde.
  El tercer dispositivo, Plume, ha sido adquirido a la empresa Plume labs.
  </p>
	<p>
    Toda la información generada por los dispositivos se almacena en una base de datos en Mongo Atlas. 
    Esta aplicación accede a la base de datos para mostrar los valores y 
    la ubicación geográfica en la que se midieron en un mapa o en una tabla.
  </p></h5>
	<table>
    <tr>
      <td> 
        <img alt title src="./assets/imagenes/ErasmusDerecha2.jpg" width="500px" height="103px"/>
      </td>
      <td> 
        <img alt title src="./assets/imagenes/Proyecto.jpg" width="97px" height="103px"/>
      </td>
      <td>
        <img alt title src="./assets/imagenes/puntadelverde.jpg" width="213px" height="103px"/>
      </td>
    </tr>
  </table>
	<h3><p><b>Descripción de los dispositivos:</b></p></h3>
  <br><br><br>
  <h4>
    <p>Dispositivo 1. 
      (<a href="https://twinspace.etwinning.net/files/collabspace/7/67/367/94367/files/c8b4e7a88.pdf">Documentación</a>)
    </p>
	  <p>Diseñado por Francisco Javier Vega Molina. Curso 2019/20</p>
  </h4>
  <table>
    <tr>
      <td> 
        <img alt="Dispositivo1" title="Dispositivo1" src="./assets/imagenes/Dispositivo1.jpg"/>
      </td>
      <td> 
        <h4>
          <p>Montado en una placa Arduino NodeMCU v3 </p>
					<p>con un Sensor MQ-135.</p>
					<p>Mide los contaminantes: CO<sub>2</sub>, NO y NH<sub>3</sub>.</p>
					<p>También dispone de una pantalla LCD 2x16 y</p>
					<p>de un módulo GPS gy-neo6m.</p>
        </h4>
      </td>
    </tr>
  </table>
  <br><br>
  <h4>
    <p>Dispositivo 2. 
      (<a href="https://twinspace.etwinning.net/files/collabspace/7/67/367/94367/files/c38cc7de0.pdf">Documentación</a>)
    </p>
    <p>Diseñado por Elena Gómez Pichardo y Juan Francisco González Domínguez. Curso 2020/21.</p>
  </h4>

  <table>
    <tr>
      <td> 
        <img alt="Dispositivo2" title="Dispositivo1" src="./assets/imagenes/Dispositivo2.jpg"/>
      </td>
      <td> 	
        <h4>
          <p>Diseñado en una placa Arduino nano 33I0T.</p>
          <p>Con un Sensor MQ-131 que mide el O<sub>3</sub></p>
          <p>y un Sensor MICS-4514 que mide el NO<sub>2</sub> y CO. </p>
          <p>También dispone&nbsp;de un módulo GPS gy-neo6m.</p>
        </h4>
      </td>
    </tr>
  </table>
  <br><br>
  <h4>
    <p>Plume. 
      (<a href="https://twinspace.etwinning.net/files/collabspace/7/67/367/94367/files/c2833e460.pdf">Documentación</a>)
    </p>
    <p>Adquirido en 2021.</p>
  </h4>
  <table>

    <tr>
      <td> 
      <img alt="Dispositivo2" title="Dispositivo1" src="./assets/imagenes/Plume.jpg"/>
    </td>
      <td> 	
        <h4>
          <p>Mide diversos contaminantes, de los que hemos seleccionado:</p>
					<p>NO<sub>2</sub>, PM<sub>10</sub> y PM<sub>2.5</sub></p>
					<p>Registra también la ubicación GPS</p>
        </h4>
      </td>
    </tr>
  </table>
</body>
</html>